/* Estilos generales */
html {
  box-sizing: border-box;
  font-size: 16px; /* Establece un tamaño de fuente base */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.5; /* Establece un interlineado */
  color: #333; /* Establece un color de texto base */
  background-image: linear-gradient(
    to left,
    rgba(128, 128, 128, 0.2),
    rgba(120, 28, 0, 0.2)
  ); /* Establece un color de fondo base */
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" auto
    "main" auto
    "footer" auto;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}

a {
  text-decoration: none;
  color: black;
}

/* Efectos al estar sobre algun apartado del menú */
a:hover {
  /* background-color: rgb(114, 124, 0);
  border-radius: 50px;
  padding: 10px;
  font-size: 15px; */
  font-weight: 700;
}

p {
  margin: 0;
}

/* <!-- INICIO MODAL - MENSAJE DE BIENVENIDA --> */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content p{
  padding-bottom: 10px;
}

.button-modal {
  padding: 10px 15px;
  background-color: #e34f26;
  border-radius: 10px;
  border: 5px solid;
  border-color: rgb(125, 37, 0);
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.button-modal:hover {
  background-color: rgb(125, 37, 0);
  color: rgb(0, 0, 0);
  border-color: #e34f26;
}

/* <!-- FIN MODAL - MENSAJE DE BIENVENIDA --> */

.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #e34f26;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.grid-container a button {
  font-size: 24px;
}

.back-to-top:hover {
  background-color: rgb(125, 37, 0);
}

.header {
  background-image: url(/img/bannerHome3.jpg);
  /* background-size: 250%; */
  background-position: left;
  height: 100vh;
}

.navigation {
  padding-top: 20px;
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna para apilar los elementos */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    to left,
    rgba(128, 128, 128, 0.2),
    rgba(120, 28, 0, 0.2)
  ); /* Establece un color de fondo base */
}

.name p {
  font-size: 20px;
  font-weight: 900;
  color: black;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  flex-wrap: wrap; /* Esta propiedad es clave para el efecto deseado */
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 0 40px;
}

/* .navbar ul li:hover {
  color: #e34f26;
} */

.presentation {
  display: flex; /* Convertimos .presentation en un contenedor flex */
  flex-direction: column;
  justify-content: center; /* Centramos los elementos horizontalmente */
  align-items: center; /* Centramos los elementos verticalmente*/
  height: 540px;
  line-height: 30px; /* Ajusta el valor según tu necesidad */
}

.tittle-presentation {
  padding-top: 20px;
  font-family: "Lucida";
  font-size: 30px;
  padding-bottom: 10px;
  color: #000000;
}

.subtittle2-presentation {
  font-family: "Lucida";
  font-size: 25px;
  color: #000000;
}

.tittle-social {
  padding-top: 10px;
}

.image-personal {
  background-image: url(/img/perfil.jpg);
  background-size: cover;
  background-position: center;
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: 150px;
  border-radius: 50%;
  border: 3px #e34f26 solid;
  background-color: #f0f0f0; /* Puedes cambiar el color de fondo */
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.btn-presentation {
  padding: 20px;
}

.presentation button {
  padding: 10px 15px;
  background-color: #e34f26;
  border-radius: 10px;
  border: 5px solid;
  border-color: rgb(125, 37, 0);
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.presentation button:hover {
  background-color: rgb(125, 37, 0);
  color: rgb(0, 0, 0);
  border-color: #e34f26;
}

.social-media {
  display: flex;
  gap: 10px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.redes div {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid;
  border-color: rgb(125, 37, 0);
}

.red2 img {
  margin: 5px;
}

.redes div:hover {
  background-color: #e34f26;
}

.tittle {
  text-align: center;
  padding: 10px;
}

.main {
  text-align: justify;
}

.main section {
  height: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}

.about-me,
.tecnologies {
  padding: 0 30px;
}

.about-me > p {
  margin-bottom: 1rem; /* Ajusta el valor según tu preferencia */
}

.tittle-skills1,
.tittle-skills2 {
  font-size: 18px;
}

/* .tittle-skills2 {
  padding-top: 20px;
} */

.tecnologies p {
  text-align: center;
  padding-bottom: 20px;
}

.btn-tecnologies {
  padding: 10px;
  border: none;
  margin-bottom: 1rem;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10%;
}

.tecnologies div {
  display: flex; /* Convertimos .presentation en un contenedor flex */
  flex-wrap: wrap;
  justify-content: center; /* Centramos los elementos horizontalmente */
  align-items: center; /* Centramos los elementos verticalmente*/
  padding-bottom: 20px;
}

.btn-tecnologies:hover {
  font-size: 14px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.education {
  text-align: center;
}

.education-hig,
.education-curse {
  padding: 40px;
}

.education-hig p,
.education-curse p {
  display: flex; /* Convertimos el contenedor principal en un contenedor flex */
  justify-content: center; /* Centramos los elementos hijos horizontalmente */
  align-items: center; /* Centramos los elementos hijos verticalmente */
}

.hig-card,
.curse-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 120px;
  margin-bottom: 20px;
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  border: 3px #e34f26 solid;
}

.hig-card p,
.curse-card p {
  margin: 0 20px;
}

.title-educationhig,
.title-educationcurse {
  font-size: 20px;
}

.subtittle-higcard,
.subtittle-cursecard {
  font-weight: 100;
  font-style: italic;
}

.hig-card:hover,
.curse-card:hover {
  background-color: #ffac95;
  height: 130px;
}
.projects {
  padding: 0 40px;
}

.contenedor-projects div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 3px #e34f26 solid;
  color: #ffffff00;
}

.project1 {
  background-image: url(/img/proyecto1Restaurante.png);
  background-size: cover;
  transition: filter 0.3s ease; /* Agrega una transición suave */
}
.project2 {
  background-image: url(/img/proyecto2BlogCafe.png);
  background-size: cover;
  transition: filter 0.3s ease; /* Agrega una transición suave */
}

.project3 {
  background-image: url(/img/proyecto3PageRecetas.png);
  background-size: cover;
  transition: filter 0.3s ease; /* Agrega una transición suave */
}

.project1:hover , .project2:hover , .project3:hover {
  filter: brightness(40%); /* Ajusta el brillo y contraste */
}